@font-face {
  font-family: 'MalinaRegular';
  src: url("../fonts/malina-webfont.woff") format("woff"), url("../fonts/malina-webfont.svg#als_malinaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ArialRegular';
  src: url("../fonts/arialregular-webfont.woff") format("woff"), url("../fonts/arialregular-webfont.svg#arialregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ArialBold';
  src: url("../fonts/arialbold-webfont.woff") format("woff"), url("../fonts/arialbold-webfont.svg#arialbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaRegular';
  src: url("../fonts/helveticaregular-webfont.woff") format("woff"), url("../fonts/helveticaregular-webfont.svg#helveticaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.header__top:after, .header__middle:after, .taste:after {
  content: '';
  display: block;
  clear: both; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.42;
  color: #393939;
  -webkit-font-smoothing: antialiased;
  background: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }
  .wrapper:after {
    content: '';
    display: block;
    height: 125px;
    overflow: hidden; }

.container {
  margin: 0 auto;
  width: 1100px; }

.header__bg {
  background-color: #c22e33;
  background-image: -webkit-gradient(radial, 20% 80%, 0, 20% 80%, 2268, color-stop(0, #e44347), color-stop(0.5, #bc262c), color-stop(1, #ab282e));
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(20% 80%, circle farthest-corner, #e44347 0%, #bc262c 50%, #ab282e 100%);
  /* IE10+ */
  background-image: radial-gradient(circle farthest-corner at 20% 80%, #e44347 0%, #bc262c 50%, #ab282e 100%);
  background-image: -ms-radial-gradient(20% 80%, circle farthest-corner, #e44347 0%, #bc262c 50%, #ab282e 100%); }

.header {
  padding-top: 25px;
  padding-bottom: 60px; }

/* ==================== HEADER TOP ==================== */
.header__top {
  margin-bottom: 70px; }

.header__title {
  float: left;
  font-size: 0; }

.header__nav {
  float: right;
  padding-top: 14px;
  font-size: 0; }

/* ---------- nav logo ---------- */
.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 22px;
  overflow: hidden;
  width: 81px;
  height: 66px; }

.header__logo_img {
  display: block;
  max-width: 100%;
  max-height: 100%; }

.header__text {
  display: inline-block;
  vertical-align: middle;
  font: 36px/36px 'MalinaRegular';
  padding-left: 19px;
  color: #fca211; }

/* ---------- nav menu ---------- */
.nav__menu {
  display: inline-block;
  vertical-align: middle;
  padding-right: 24px; }

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px; }

.menu_link {
  display: block;
  font: 16px/16px 'ArialRegular';
  letter-spacing: 1.3px;
  color: #fff;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }

.angle-down-up:after {
  position: absolute;
  content: '\f107';
  font: 12px 'FontAwesome';
  padding: 4px 0 0 10px; }

/* ---------- team dropdown ---------- */
.team {
  position: relative; }
  .team:hover .menu_link {
    color: #ffaf28; }
  .team:hover .angle-down-up:after {
    content: '\f106'; }
  .team:hover .team__dropdown {
    left: -74px;
    opacity: 1; }
  .team:hover .team__triangle {
    left: 20px;
    opacity: 1; }

.team__dropdown {
  display: block;
  position: absolute;
  left: -9999px;
  top: 50px;
  min-width: 227px;
  box-sizing: border-box;
  padding: 28px 45px 22px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.92);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .team__dropdown:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    height: 40px; }

.team__item {
  font: 16px/40px 'HelveticaRegular';
  color: #575757;
  white-space: nowrap; }

.team__item_active {
  font-weight: bolder; }
  .team__item_active:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid #ffaf28;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    margin-top: 12px;
    margin-left: -45px; }

.team__triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 13px solid rgba(255, 255, 255, 0.92);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 37px;
  left: -9999px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

/* ---------- nav icons ---------- */
.nav__icons {
  display: inline-block;
  vertical-align: middle; }

.nav__icon {
  width: 42px;
  height: 42px;
  margin: 0 15px 0 9px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1); }

.nav__icon_cabinet {
  display: block;
  height: 100%;
  background: url("../img/icons/cabinet.png") center no-repeat; }

.nav__icon_search {
  display: block;
  height: 100%;
  background: url("../img/icons/search.png") center no-repeat; }

/* ==================== HEADER MIDDLE ==================== */
.header__middle {
  margin-bottom: 56px; }

.hipsweet__info-add {
  width: 140px;
  float: left; }

.hipsweet__ingredients {
  padding-top: 84px;
  padding-right: 10px;
  margin-bottom: 21px;
  text-align: center; }

/* ---------- ingredients dropdown ---------- */
.ingredients__img {
  position: relative;
  width: 42px;
  height: 42px;
  margin: 0 auto 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../img/icons/mixer.png") center no-repeat, rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .ingredients__img:hover {
    background-color: rgba(255, 175, 40, 0.92); }
    .ingredients__img:hover .ingredients__dropdown {
      left: 94px;
      opacity: 1; }
    .ingredients__img:hover .ingredients__triangle {
      left: 81px;
      opacity: 1; }

.ingredients__dropdown {
  display: block;
  position: absolute;
  left: -9999px;
  top: -69px;
  min-width: 380px;
  min-height: 245px;
  box-sizing: border-box;
  padding: 22px 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.92);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .ingredients__dropdown:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    width: 60px; }

.ingredients__item {
  text-align: left;
  font-size: 0; }

.ingredient__pic {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  overflow: hidden; }

.ingredient__pic_img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.ingredient__name {
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
  min-width: 195px;
  font: 16px/40px 'HelveticaRegular';
  color: #575757; }

.ingredient__value {
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
  font: 16px/40px 'HelveticaRegular';
  color: #575757; }

.ingredients__triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 13px solid rgba(255, 255, 255, 0.92);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  top: 3px;
  left: -9999px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.ingredients__text {
  font: 15px 'ArialRegular';
  color: #fff; }

.hipsweet__background {
  margin-bottom: 28px;
  padding-left: 26px;
  font: 150px/150px 'MalinaRegular';
  color: rgba(255, 255, 255, 0.22); }

.hipsweet__storage-life {
  text-align: center; }

.storage-life__text {
  font: 13px/13px 'ArialRegular';
  letter-spacing: 1.3px;
  color: rgba(255, 255, 255, 0.28); }

.storage-life__value {
  font: 24px/24px 'MalinaRegular';
  color: #fff; }

/* ---------- hipsweet picture ---------- */
.hipsweet__pic {
  position: relative;
  float: left;
  margin-left: 43px;
  overflow: hidden;
  width: 436px;
  height: 475px; }

.hipsweet__pic_img {
  display: block;
  max-width: 100%;
  max-height: 100%; }

.hipsweet__pic_shadow {
  position: absolute;
  right: 0;
  bottom: -40px;
  display: block;
  opacity: 0.22;
  width: 458px;
  height: 64px; }

/* ---------- hipsweet information ---------- */
.hipsweet__info {
  float: left;
  margin-left: 73px;
  width: 408px; }

.hipsweet__title {
  font: 62px/74px 'MalinaRegular';
  padding-top: 35px;
  margin-bottom: 24px;
  color: #fff; }

.hipsweet__desc {
  font: 15px/21px 'ArialRegular';
  margin: 0 0 33px;
  color: #fff; }

.hipsweet__order {
  font-size: 0; }

.hipsweet__price {
  display: inline-block;
  vertical-align: middle;
  font: 62px/62px 'MalinaRegular';
  color: #fff; }

.hipsweet__btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-left: 46px;
  background: #fca211;
  padding: 14px 23px;
  font: 14px/14px 'ArialBold';
  color: #a4151c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .hipsweet__btn:hover {
    background: #641a00;
    color: #fca211; }

/* ==================== HEADER BOTTOM ==================== */
.nav__slider {
  text-align: center;
  font-size: 0; }

.slider__item {
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 16px;
  background: #fff; }

.taste__bg {
  background-color: #e4e4e4;
  background-image: -webkit-gradient(radial, 73% 55%, 0, 73% 55%, 591, color-stop(0, white), color-stop(1, #c9c9c9));
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(73% 55%, circle farthest-corner, white 0%, #c9c9c9 100%);
  /* IE10+ */
  background-image: radial-gradient(circle farthest-corner at 73% 55%, white 0%, #c9c9c9 100%);
  background-image: -ms-radial-gradient(73% 55%, circle farthest-corner, white 0%, #c9c9c9 100%); }

.taste {
  padding-top: 52px; }

.taste__left {
  float: left;
  width: 627px;
  margin-left: 60px;
  padding-top: 47px; }

.taste__title {
  padding-left: 10px;
  padding-right: 210px;
  font: 62px/74px 'MalinaRegular';
  color: #2b2f5f;
  margin-bottom: 33px; }

.taste__desc {
  padding-left: 10px;
  padding-right: 210px;
  font: 15px/22.24px 'ArialRegular';
  color: #747474;
  margin-bottom: 58px; }

.taste__reasons {
  font-size: 0; }

.reasons__item {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  padding-right: 57px; }

.reason__pic {
  width: auto;
  height: 108px;
  overflow: hidden;
  margin-bottom: 25px; }
  .reason__pic:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

.reason__pic_img {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 100%;
  max-height: 100%; }

.reason__title {
  font: 16px/18px 'MalinaRegular';
  color: #747474;
  padding-left: 10px; }

.taste__right {
  float: right;
  width: 383px;
  height: 708px;
  margin-right: 30px;
  overflow: hidden; }

.taste__pic {
  display: block;
  max-width: 100%;
  max-height: 100%; }

.supply__bg {
  background-color: rgba(255, 178, 19, 0.9);
  background-image: -webkit-gradient(radial, left bottom, 0, left bottom, 914, color-stop(0, rgba(255, 171, 38, 0.9)), color-stop(1, rgba(255, 185, 0, 0.9))), url("../img/supply__bg.png");
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(left bottom, circle farthest-corner, rgba(255, 171, 38, 0.9) 0%, rgba(255, 185, 0, 0.9) 100%), url("../img/supply__bg.png");
  /* IE10+ */
  background-image: radial-gradient(circle farthest-corner at left bottom, rgba(255, 171, 38, 0.9) 0%, rgba(255, 185, 0, 0.9) 100%), url("../img/supply__bg.png");
  background-image: -ms-radial-gradient(left bottom, circle farthest-corner, rgba(255, 171, 38, 0.9) 0%, rgba(255, 185, 0, 0.9) 100%), url("../img/supply__bg.png"); }

.supply {
  padding-top: 103px;
  padding-bottom: 79px; }

.supply__title {
  font: 62px/62px 'MalinaRegular';
  color: #393939;
  text-align: center;
  margin-bottom: 15px; }

.supply__desc {
  width: 780px;
  margin: 0 auto;
  font: 16px/22px 'MyriadProRegular';
  color: #883313;
  text-align: center;
  margin-bottom: 21px; }
  .supply__desc a {
    color: #393939;
    text-decoration: underline; }

.supply__catalog {
  font-size: 0; }

.catalog__item {
  display: inline-block;
  vertical-align: top;
  width: 274px;
  margin-bottom: 7px; }

.catalog__pic {
  height: 241px;
  padding-left: 51px;
  overflow: hidden;
  margin-bottom: 7px; }
  .catalog__pic:after {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 100%; }

.catalog__pic_img {
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;
  max-height: 100%; }

.catalog__title {
  padding: 0 25px;
  font: 32px/56px 'MalinaRegular';
  color: #393939;
  text-align: center;
  margin-bottom: 2px; }

.catalog__desc {
  padding: 0 25px;
  font: 14px/18px 'MyriadProRegular';
  color: #ab594a;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
