.header__bg {
	background-color: #c22e33;
	background-image: -webkit-gradient(radial, 20% 80%, 0, 20% 80%, 2268,color-stop(0, rgb(228, 67, 71)),color-stop(0.5, rgb(188, 38, 44)),color-stop(1, rgb(171, 40, 46)));
	/* Android 2.3 */
	background-image: -webkit-radial-gradient(20% 80%, circle farthest-corner,rgb(228, 67, 71) 0%,rgb(188, 38, 44) 50%,rgb(171, 40, 46) 100%);
	/* IE10+ */
	background-image: radial-gradient(circle farthest-corner at 20% 80%,rgb(228, 67, 71) 0%,rgb(188, 38, 44) 50%,rgb(171, 40, 46) 100%);
	background-image: -ms-radial-gradient(20% 80%, circle farthest-corner,rgb(228, 67, 71) 0%,rgb(188, 38, 44) 50%,rgb(171, 40, 46) 100%);
}

.header {
	padding-top: 25px;
	padding-bottom: 60px;
}

/* ==================== HEADER TOP ==================== */

.header__top {
	@extend %clearfix;
	margin-bottom: 70px;
}

.header__title {
	float: left;
	font-size: 0;
}

.header__nav {
	float: right;
	padding-top: 14px;
	font-size: 0;
}

/* ---------- nav logo ---------- */
.header__logo {
	@include inline-block(middle);
	margin-left: 22px;
	overflow: hidden;
	width: 81px;
	height: 66px;
}

.header__logo_img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.header__text {
	@include inline-block(middle);
	font: 36px/36px 'MalinaRegular';
	padding-left: 19px;
	color: #fca211;
}

/* ---------- nav menu ---------- */
.nav__menu {
	@include inline-block(middle);
	padding-right: 24px;
}

.menu__item {
	@include inline-block(middle);
	margin: 0 30px;
}

.menu_link {
	display: block;
	font: 16px/16px 'ArialRegular';
	letter-spacing: 1.3px;
	color: #fff;
	@include transition(color .3s);
}

.angle-down-up:after {
	position: absolute;
	content: '\f107';
	font: 12px 'FontAwesome';
	padding: 4px 0 0 10px;
}

/* ---------- team dropdown ---------- */
.team {
	position: relative;
	&:hover {
		.menu_link {
			color: #ffaf28;
		}
		.angle-down-up:after {
			content: '\f106';
		}
		.team__dropdown{
			left: -74px;
			opacity: 1;
		}
		.team__triangle {
			left: 20px;
			opacity: 1;
		}
	}
}

.team__dropdown {
	display: block;
	position: absolute;
	left: -9999px;
	top: 50px;
	min-width: 227px;
	box-sizing: border-box;
	padding: 28px 45px 22px;
	@include border-radius(20px);
	background: rgba(#fff, 0.92);
	z-index: 1;
	opacity: 0;
	@include transition(opacity .3s);
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: -40px;
		height: 40px;
	}
}

.team__item {
	font: 16px/40px 'HelveticaRegular';
	color: #575757;
	white-space: nowrap;
}

.team__item_active {
	font-weight: bolder;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-left: 8px solid #ffaf28;
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		margin-top: 12px;
		margin-left: -45px;
	}
}

.team__triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 13px solid rgba(#fff, 0.92);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	top: 37px;
	left: -9999px;
	z-index: 1;
	opacity: 0;
	@include transition(opacity .3s);
}

/* ---------- nav icons ---------- */
.nav__icons {
	@include inline-block(middle);
}

.nav__icon {
	width: 42px;
	height: 42px;
	margin: 0 15px 0 9px;
	overflow: hidden;
	@include inline-block(middle);
	@include border-radius(50%);
	background: rgba(#fff, 0.1);
}

.nav__icon_cabinet {
	display: block;
	height: 100%;
	background: url('../img/icons/cabinet.png') center no-repeat;
}

.nav__icon_search {
	display: block;
	height: 100%;
	background: url('../img/icons/search.png') center no-repeat;
}

/* ==================== HEADER MIDDLE ==================== */

.header__middle {
	@extend %clearfix;
	margin-bottom: 56px;
}

.hipsweet__info-add {
	width: 140px;
	float: left;
}

.hipsweet__ingredients {
	padding-top: 84px;
	padding-right: 10px;
	margin-bottom: 21px;
	text-align: center;
}

/* ---------- ingredients dropdown ---------- */
.ingredients__img {
	position: relative;
	width: 42px;
	height: 42px;
	margin: 0 auto 15px;
	@include border-radius(50%);
	background: url('../img/icons/mixer.png') center no-repeat, rgba(#fff, 0.1);
	@include transition(background-color .3s);
	&:hover {
		background-color: rgba(#ffaf28, 0.92);
		.ingredients__dropdown {
			left: 94px;
			opacity: 1;
		}
		.ingredients__triangle {
			left: 81px;
			opacity: 1;
		}
	}
}

.ingredients__dropdown {
	display: block;
	position: absolute;
	left: -9999px;
	top: -69px;
	min-width: 380px;
	min-height: 245px;
	box-sizing: border-box;
	padding: 22px 30px;
	@include border-radius(20px);
	background: rgba(#fff, 0.92);
	z-index: 1;
	opacity: 0;
	@include transition(opacity .3s);
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -60px;
		width: 60px;
	}
}

.ingredients__item {
	text-align: left;
	font-size: 0;
}

.ingredient__pic {
	@include inline-block(middle);
	width: 26px;
	overflow: hidden;
}

.ingredient__pic_img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.ingredient__name {
	@include inline-block(middle);
	padding-left: 12px;
	min-width: 195px;
	font: 16px/40px 'HelveticaRegular';
	color: #575757;
}

.ingredient__value {
	@include inline-block(middle);
	padding-left: 12px;
	font: 16px/40px 'HelveticaRegular';
	color: #575757;
}

.ingredients__triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-right: 13px solid rgba(#fff, 0.92);
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	top: 3px;
	left: -9999px;
	z-index: 1;
	opacity: 0;
	@include transition(opacity .3s);
}

.ingredients__text {
	font: 15px 'ArialRegular';
	color: #fff;
}

.hipsweet__background {
	margin-bottom: 28px;
	padding-left: 26px;
	font: 150px/150px 'MalinaRegular';
	color: rgba(#fff, 0.22);
}

.hipsweet__storage-life {
	text-align: center;
}

.storage-life__text {
	font: 13px/13px 'ArialRegular';
	letter-spacing: 1.3px;
	color: rgba(#fff, 0.28);
}

.storage-life__value {
	font: 24px/24px 'MalinaRegular';
	color: #fff;
}

/* ---------- hipsweet picture ---------- */
.hipsweet__pic{
	position: relative;
	float: left;
	margin-left: 43px;
	overflow: hidden;
	width: 436px;
	height: 475px;
}

.hipsweet__pic_img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.hipsweet__pic_shadow {
	position: absolute;
	right: 0;
	bottom: -40px;
	display: block;
	opacity: 0.22;
	width: 458px;
	height: 64px;
}

/* ---------- hipsweet information ---------- */
.hipsweet__info {
	float: left;
	margin-left: 73px;
	width: 408px;
}

.hipsweet__title {
	font: 62px/74px 'MalinaRegular';
	padding-top: 35px;
	margin-bottom: 24px;
	color: #fff;
}

.hipsweet__desc {
	font: 15px/21px 'ArialRegular';
	margin: 0 0 33px;
	color: #fff;
}

.hipsweet__order {
	font-size: 0;
}

.hipsweet__price {
	@include inline-block(middle);
	font: 62px/62px 'MalinaRegular';
	color: #fff;
}

.hipsweet__btn {
	@include inline-block(middle);
	@include border-radius(20px);
	margin-left: 46px;
	background: #fca211;
	padding: 14px 23px;
	font: 14px/14px 'ArialBold';
	color: #a4151c;
	@include transition(all .3s);
	&:hover {
		background: #641a00;
		color: #fca211;
	}
}

/* ==================== HEADER BOTTOM ==================== */

.header__bottom {

}

.nav__slider {
	text-align: center;
	font-size: 0;
}

.slider__item {
	@include inline-block();
	@include border-radius(50%);
	width: 8px;
	height: 8px;
	margin: 0 16px;
	background: #fff;
}