.supply__bg {
	background-color: rgba(255, 178, 19, 0.9);
	/* Android 2.3 */
	background-image: -webkit-radial-gradient(left bottom, circle farthest-corner,rgba(255, 171, 38, 0.9) 0%,rgba(255, 185, 0, 0.9) 100%), url('../img/supply-bg.png');
	/* IE10+ */
	background-image: radial-gradient(circle farthest-corner at left bottom,rgba(255, 171, 38, 0.9) 0%,rgba(255, 185, 0, 0.9) 100%), url('../img/supply-bg.png');
	background-image: -ms-radial-gradient(left bottom, circle farthest-corner,rgba(255, 171, 38, 0.9) 0%,rgba(255, 185, 0, 0.9) 100%), url('../img/supply-bg.png');
}

.supply {
	//min-height: 1130px;
	padding-top: 103px;
	padding-bottom: 79px;
}

.supply__title {
	font: 62px/62px 'MalinaRegular';
	color: #393939;
	text-align: center;
	margin-bottom: 15px;
}

.supply__desc {
	width: 780px;
	margin: 0 auto;
	font: 16px/22px 'MyriadProRegular';
	color: #883313;
	text-align: center;
	margin-bottom: 21px;
	a {
		color: #393939;
		text-decoration: underline;
	}
}

.supply__catalog {
	font-size: 0;
}

.catalog__item {
	@include inline-block(top);
	width: 274px;
	margin-bottom: 7px;
}

.catalog__pic {
	height: 241px;
	padding-left: 51px;
	overflow: hidden;
	margin-bottom: 7px;
	&:after {
		content: '';
		@include inline-block(bottom);
		width: 0;
		height: 100%;
	}
}

.catalog__pic_img {
	@include inline-block(bottom);
	max-width: 100%;
	max-height: 100%;
}

.catalog__title {
	padding: 0 25px;
	font: 32px/56px 'MalinaRegular';
	color: #393939;
	text-align: center;
	margin-bottom: 2px;
}

.catalog__desc {
	padding: 0 25px;
	font: 14px/18px 'MyriadProRegular';
	color: #ab594a;
	text-align: center;
}