%clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

@mixin inline-block($align: top) {
	display: inline-block;
	vertical-align: $align;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}